# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!sgp4-ntn-udp-example.cc
!CMakeLists.txt
!ntn-test.cc
!BHO
!CHO-Distance
!CHO-SNR
!CHO-Elevation
!MultiUE-*
!Test-SNR
